<div class='container'>
  <div class='row'>
    <div class="col-12">
      <h2>TestGuru</h1>
      <h3>Описание возможностей проекта:</h2>
      <ul>
        <li>Создание тестов и управление ими</li>
        <li>Аутентификация</li>
        <li>Базовое разграничение прав доступа</li>
        <li>Выполнение тестов</li>
        <li>Публикация результатов в соц. сети</li>
      </ul>
      <h4><%= link_to 'Онлайн школа ThinkNetica', @thinknetica, target: :_blank %></h4>
      <%= render 'shared/back' %>
    </div>
  </div>
</div>

