<div class='container'>
  <div class='row'>
    <div class="col-12">
      <p>
        Студент ThinkNetica <br />
        Якунин Олег
      </p>
      <p>
        <%= link_to 'Профиль Гитхаб', @github, target: :_blank %>
      </p>
      <%= render 'shared/back' %>
    </div>
  </div>
</div>
