<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>TestGuru</h2>
    </div>
    <div class="col-12">
      <h6>
        <% if current_user&.admin?  %>
          <p><%= link_to t('home.tests'), admin_tests_path  %></p>
          <p><%= link_to 'Пройти тесты', tests_path  %></p>
          <p><%= link_to 'Gists', admin_gists_path %></p>
        <% else %>
          <%= link_to t('home.tests'), tests_path %>
        <% end %>
      </h6>
    </div>
  </div>
</div>
