<div class="container">
  <h3>Badges</h3>
  <div class="row">
    <%= render 'shared/errors', resource: @badge %>
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Изображение</th>
          <th scope="col">Правило</th>
          <th scope="col" colspan="2">Действия</th>
        </tr>
      </thead>
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Create Badge', new_admin_badge_path,
  class: "btn btn-primary"  %>
  <div class="row">
    <div class="col-12">
      <%= render 'shared/back' %>
    </div>
  </div>
</div>
