<% if resource.errors.present? %>
  <div class="row">
    <h2 class="col-12"><%= pluralize(resource.errors.count, 'error') %> detected:</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>
