<div class="col-12">
  <li>
    <%= answer.body %>
    <%= link_to 'x', answer, method: :delete, data: { confirm: 'Вы увеерены?'} %>
    <%= link_to 'Обновить', edit_answer_path(answer) %>
    <br />
    <%= answer.correct %>
  </li>
</div>
