<div class="col-12">
  <li>
    <%= link_to question.body, admin_question_path(question) %>
    <%= link_to 'x', admin_question_path(question), method: :delete, data: { confirm: 'Вы увеерены?'}  %>
    <%= link_to 'Обновить', edit_admin_question_path(question) %>
  </li>
</div>

