<div class="container">
  <h3><%= t('tests.index.header') %></h3>
  <div class="row">
    <ol>
      <%= render @tests %>
    </ol>
  </div>
  <%= link_to t('.create_test'), new_admin_test_path,
  class: "btn btn-primary"  %>
  <div class="row">
    <div class="col-12">
      <%= render 'shared/back' %>
    </div>
  </div>
</div>
