<div class="container">
  <h3><%= t('.header') %></h3>
  <div class="row">
    <ol>
      <%= render @tests %>
    </ol>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'shared/back' %>
    </div>
  </div>
</div>
