<div class="container">
  <h2><%= @test.title %></h2>
  <ol>
    <% @test.questions.each do |question| %>
      <div class="col-12">
        <li>
          <%= link_to question.body, test_question_path(@test, question) %>
          <%= link_to 'x', test_question_path(@test, question), method: :delete  %>
        </li>
      </div>
    <% end %>
  </ol>
  <%= link_to 'Создать вопрос', new_test_question_path(@test), class: "btn btn-primary"  %>
</div>

